.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vw;
  .loginBox {
    width: 20%;
    .login-form {
      padding: 20px;
      .input-row {
        margin: 5px 0;
        .input-box {
          float: right;
          padding: 0;
        }
      }
    }
  }
}