.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px 20px;
  .nav {
    color: red;
    &--left, &--right {
      color: red;
      font-size: 1.4em;
      a {
        color: red;
      }
    }
    &--left {

    }
    &--logo {
      color: yellow;
      font-size: 1.4em;
      a {
        color: yellow;
      }
    }
    &--right {

    }
  }

  .login-sign-up {
    display: flex;
    justify-content: space-between;
  }
}