.profileContainer {
  display: flex;
  margin: 20px 5%;
  .profile {
    .user-information {
      margin-top: 10px;
    }
    .profileImage {
      width: 300px;
      height: 300px;
      border: 1px solid black;
      border-radius: 5px;
    }
  }
  .feed {
    width: 100%;
    margin-left: 20px;
  }
}