.profileContainer {
  display: flex;
  margin: 20px 5%;
  .profile {
    .user-information {
      margin-top: 10px;
    }
    .profileImage {
      width: 300px;
      height: 300px;
      border: 1px solid black;
      border-radius: 5px;
    }
  }
  .feedContainer {
    width: 30%;
    margin: 0 auto;
    .feed {
      // border: 1px solid black;
      height: 100%;
      // overflow: scroll;
      .feed__message {
        padding: 5px 0;
        text-align: center;
        display: flex;
        justify-content: space-between;
        font-size: 1.2em;
      }
    }
    .buzzMessageContainer {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2em;
      input {
        width: 85%;
        height: 30px;
        font-size: 1.2em;
      }
      .button {
        border-radius: 5px;
        background-color: green;
        padding: 5px 10px;
      }
    }
  }
  .sideBarContainer {
    &__header {
      font-size: 1.4em;
      text-decoration: underline;
      padding-bottom: 5px;
    }
    .allUsers {
      font-size: 1.2em;
      text-align: center;
      padding: 5px 0;
    }
  }
}